<%= form_for(@new_student_path) do |f| %>
  <label>First Name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Last Name:</label><br>
  <%= f.text_field :last_name %><br>
  
  <label>Create Student</label><br>
  <%= f.submit%>
<% end %>